
.user-show{
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5vh 0;
}

.user-show-box{
  width: 70vw;
  min-width: 1200px;
  background-color: white;

  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info{
  background-color: navajowhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-top: 50px;
}

.user-info>.user-image{
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  border-radius: 50%;
}

.user-nickname-box{
  background-color: lightpink;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.user-nickname-box>.nickname{
  font-size: 32px;
}

.user-email{
  background-color: lightsalmon;
  font-size: 14px;
  margin: 10px 0 30px;
}

.user-profile{
  width: 100%;
  background-color: limegreen;
}

.profile-introduction{
  padding: 20px 20px;
}

.profile-contents{
  background-color: mediumpurple;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

}

.profile-table{
  width: 100%;
  background-color: maroon;

}

.profile-element{
  width: 20%;
  background-color: pink;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;

  padding: 20px 10px;
}

.profile-value{
  width: 80%;
  background-color: lightblue;
  border: 1px solid #dedede;
  font-size: 14px;

  padding: 20px 10px;
}

.user-exhibit{
  width: 80vw;

  margin-top: 30px;
}

.user-profile-header{
  font-weight: bold;
  font-size: 25px;
}

.exhibited-products-box{
  border: 0.5px solid lightgray;
}

.exhibited-products-box>.lists {
  background-color: orchid;
  display: flex;
  overflow: scroll;
}

.exhibited-products-box>.lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.user-purchase{
  width: 80vw;
  margin-top: 30px;
}

.purchased-products-box{
  border: 0.5px solid lightgray;
}

.purchased-products-box>.lists {
  display: flex;
  overflow: scroll;
}

.purchased-products-box>.lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
